HUME_API_KEY="9zbqsAdcdDjKx7ke086v5BQ5FsX62aCpgX6RvOYt9FSVloue"
USE_HUME=1
HUME_PROB_THRESHOLD=0.2
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="srinjoysen123@gmail.com"
SMTP_PASSWORD="trqgdzrwawnugjxs"
SENDER_NAME="Music Therapy Team"
